# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/*
result/

# Output
analyze/img_dump/*
analyze/vid_dump/*
analyze/critical_exponents/*
!analyze/img_dump
!analyze/vid_dump
!analyze/critical_exponents

# Input
utils/new_project.py

# Vscode environment
.vscode
.git
.gitattributes

# Outputs
*.mp4
*.gif
*.h5
analyze/*.html
analyze/*.mp4
analyze/*.gif
projects/*
*.png
*.pdf
!projects/demo/config.toml

# debug information files
*.dwo
# pixi environments
.pixi/*
!.pixi/config.toml

# Direnv environments
.direnv/*

# Documentation generated
docs/*
!docs

# Python stuff
__pycache__/

